* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar { 
    display: none; 
}

html, body, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.joinContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.header {
  font-size: 2em;
  margin-bottom: 20px;
}

.inputField {
  width: 300px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.joinButton {
  width: 320px;
  padding: 10px;
  margin-top: 10px;
  background-color: #212121;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.joinButton:hover {
  background-color: #0f0f0f;
}

.joinFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #f4f4f4;
  border-top: 1px solid #ccc;
}

.joinFooter a {
  color: #238ad8;
  text-decoration: none;
}
